.navbar {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: #111827; 
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  z-index: 1000;
}
.logout {
  margin-right: 15px;
  cursor: pointer;
}


.menuBtn {
  height: 40px;
  width: 60px;
  
  font-size: 22px;
  cursor: pointer;
  background: none;
}

.menuBtn:hover {
  background: none;
  border-radius: 5px;
}