.page {
  padding: 20px;
  background: #f9fafb;
  min-height: 100vh;
  font-family: system-ui;
}

/* TOP BAR */
.topBar {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  margin-bottom: 15px;
  gap: 10px;
}

/* SMALL ADD BUTTON (LEFT) */
.addBtn {
  background: #111827;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
}

/* BIG SEARCH (RIGHT) */
.search {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

/* TABLE */
.card {
  background: white;
  border-radius: 12px;
  padding: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #eee;
  color: #6b7280;
}

.table td {
  padding: 12px;
  border-bottom: 1px solid #f3f4f6;
}

/* ACTION ICONS */
.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  border: none;
  background: #f3f4f6;
  padding: 6px 8px;
  border-radius: 6px;
  cursor: pointer;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBox {
  background: white;
  width: 80%;
  max-height: 85vh;
  overflow-y: auto;
  padding: 20px;
  border-radius: 12px;
}

/* FORM GRID */
.formGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 15px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  font-size: 12px;
  color: #6b7280;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.field input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

/* FORM ACTIONS */
.formActions {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.saveBtn,
.updateBtn {
  background: #111827;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}